.btn-new{
	background-color: #2449f0;
	color: #fff;
	width: unset;
	font-weight: bold;
	padding: 0.5rem 0.81rem;
}

.btn-new:hover{
	background-color: #2449f0;
	color: #fff;
}

.btn-new:hover{
	border: 0px solid #2449f0;
}

.btn-new:not( :hover ){
	border: 0px solid #2449f0;
}

.btn-cancel {
	border: 1px solid #ced4da;
    color: unset;
	background-color: unset;
	font-weight: bold;
	padding: 0.5rem 0.81rem;
}

.btn-cancel:hover {
	background-color: unset;
	opacity: 0.7;
}

.search-dropdown{
	width: 300px !important;
}

.search-dropdown input{
	margin-left: 15px !important;
}

.card-noborder{
	border: 0px;
}

.b-radius{
	border-radius: 10px;
}

.table-responsive{
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table-custom tbody tr td{
	color: #3b3b3b;
	font-weight: bold;
	padding: 10px 10px;
}

.table-custom thead tr th{
	color: #a3a3a3;
	font-weight: bold;
	padding-bottom: 20px;
	padding-left: 10px;
}

.table-custom tbody tr td img{
	border-radius: 10px !important;
	width: 45px !important;
    min-width: 45px !important;
    height: 45px !important;
}

.admin-span{
	color: #ff6258;
	font-weight: bold;
	background-color: rgba(255, 98, 88, 0.2);
}

.admin-span:hover{
	color: #ff6258;
}

.kasir-span{
	color: #ffaf00;
	font-weight: bold;
	background-color: rgba(255, 175, 0, 0.2);
}

.kasir-span:hover{
	color: #ffaf00;
}

.ammount-box{
	border-radius: 5px;
    display: inline-block;
	font-size: 14px;
	margin-right: 10px;
	width: 30px;
    height: 30px;
    padding: 8px 10px 10px 8px;
    text-align: center;
    vertical-align: middle;
}

.view-btn, .view-btn:hover{
	border: 1px solid #ced4da;
	padding: 8px 20px;
    color: #435df2;
    font-weight: bold;
}

.select2-container--default .select2-selection--single, .select2-container--default .select2-selection--multiple {
	border: 1px solid #dee2e6;
    border-radius: 2px;
	height: 100%;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	font-size: 0.75rem;
	color: #212529;
	padding: 1px .75rem;
	margin-left: 0;
}

.select2-container .select2-search--inline .select2-search__field {
	font-size: 0.75rem;
	color: #212529;
	padding: 0 .75rem;
	margin-left: 0;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
	color: #6c757d;
}