.card-noborder{
	border: 0px;
}

.b-radius{
	border-radius: 10px;
}

.illust-img{
	display: block;
	margin: auto;
	width: 200px;
}

.bg-dark-blue .card{
	background: #030aac;
}

.icon-holder{
	border-radius: 5px;
    border: 1px solid #4e55c5;
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #2944b5;
    color: #fff;
    font-size: 20px;
}

.icon-holder:hover{
	color: #e0e0e0;
}

.link-how:hover{
	text-decoration: none;
}

.q-mark{
	border: 1px solid #fff;
	border-radius: 100%;
	font-size: 12px;
	padding: 0px 4px;
}

.btn-upload{
	border: 1px solid #4e55c5;
	background: #2944b5;
	color: #fff;
}

.btn-upload:hover{
	color: #e0e0e0;
}

.btn-scan{
	background-color: #2449f0;
	color: #fff;
}

.btn-scan:hover{
	background-color: #2449f0;
	color: #fff;
}

.btn-scan:hover{
	border: 0px solid #2449f0;
}

.btn-scan:not( :hover ){
	border: 0px solid #2449f0;
}

.btn-scan i{
	font-size: 16px;
}

.btn-simpan{
	background-color: #1c45ef;
	color: #fff;
	font-weight: bold;
}

.btn-simpan:hover{
	color: #fff;
}

.close-btn{
	background-color: #d7d7d7 !important;
	border-radius: 5px;
	margin-top: 0px !important;
	margin-right: 0px !important;
	padding: 0.2rem 0.7rem !important;
}

@media (max-width: 765px) {
	.space-bottom{
		margin-bottom: 1rem !important;
	}
}

video{
	border-radius: 10px;
	width: 100%;
}

.drawingBuffer {
	position: absolute;
	top: 0;
	left: 0;
}

.form-border{
	background-color: #d1e6ff;
	border: 1px solid #2196f3;
	height: 35px;
	line-height: 35px;
	margin-top: 10px;
	text-align: center;
}

.form-border p{
	font-weight: bold;
}

.img-import-area{
	overflow-x: auto;
	padding-bottom: 20px;
}

.img-import{
	width: 800px;
	border: 2px solid #2196f3;
	border-radius: 10px;
}

.excel-name{
	width: 120px;
	text-align: right;
}

label.error{
	color: #ff6258 !important;
	font-size: 12px !important;
	margin-top: 10px !important;
}
.custom-checkbox {
	width: 70px;
    height: 20px;
    margin-left: 7px;
    display: inline-block;
    position: absolute;
	margin-top: -4px;
	pointer-events: all;
}
.custom-checkbox input.switch-mode {
	display: none;
}
.custom-checkbox input.switch-mode + label {
	height: 100%;
	width: 100%;
	font-size: 10px;
}
.custom-checkbox input.switch-mode + label > .status-switch {
	cursor: pointer;
	width: 100%;
	height: 100%;
	position: relative;
	background-color: #9696a5;
	color: white;
	transition: all 0.5s ease;
	padding: 3px;
	border-radius: 3px;
}
.custom-checkbox input.switch-mode + label > .status-switch:before, .custom-checkbox input.switch-mode + label > .status-switch:after {
	border-radius: 2px;
	height: calc(100% - 6px);
	width: calc(50% - 3px);
	display: flex;
	align-items: center;
	position: absolute;
	justify-content: center;
	transition: all 0.3s ease;
}
.custom-checkbox input.switch-mode + label > .status-switch:before {
	background-color: white;
	color: black;
	left: 3px;
	z-index: 10;
	content: attr(data-unchecked);
}
.custom-checkbox input.switch-mode + label > .status-switch:after {
	right: 0;
	content: attr(data-checked);
}
.custom-checkbox input.switch-mode:checked + label > .status-switch {
	background-color: #2449f0;
}
.custom-checkbox input.switch-mode:checked + label > .status-switch:after {
	left: 0;
	content: attr(data-unchecked);
}
.custom-checkbox input.switch-mode:checked + label > .status-switch:before {
	color: #2449f0;
	left: 50%;
	content: attr(data-checked);
}

#label_grosir {
	pointer-events: none;
}

.tambah_grosir {
	pointer-events: all;
}

.gross {
	width: 98%;
}

#label_varians {
	pointer-events: none;
}

.tambah_varians {
	pointer-events: all;
}

.varians {
	width: 98%;
}


@media (max-width: 767px) {
	.container-gross {
		width: 90%;
	}
	.paddmob10 {
		padding-left: 10px;
		padding-right: 10px;
	}
	.custom-checkbox {
		width: 60px;
	}
}

.min-grosir.error, .harga-grosir.error {
	border: 1.5px solid red;
}

.gross {
	width: 100%;
}

.min-grosir.error, .harga-grosir.error, .nama-varian.error, .conv-varian.error, .hpp-varian.error, .sku-varian.error, .harga-varian.error {
	border: 1.5px solid red;
}

.varians {
	width: 100%;
}

.uom-checkbox label::before, .uom-checkbox label::after {
	top: -5px;
}