.noned {
	text-decoration: line-through;
}

.btn-new{
	background-color: #2449f0;
	color: #fff;
}

.btn-new:hover{
	background-color: #2449f0;
	color: #fff;
}

.btn-filter{
	background-color: #fff;
	color: #2449f0;
}

.btn-filter:hover{
	background-color: #fff;
	color: #2449f0;
}

.btn-filter:hover, .btn-new:hover{
	border: 0px solid #2449f0;
}

.btn-filter:not( :hover ), .btn-new:not( :hover ){
	border: 0px solid #2449f0;
}

.card-noborder{
	border: 0px;
}

.b-radius{
	border-radius: 10px;
}

.bg-green{
	color: #19d895;
    background-color: rgba(25, 216, 149, 0.2);
    border-color: rgba(25, 216, 149, 0);
}

.table-responsive{
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table-custom tbody tr td{
	color: #3b3b3b;
	font-weight: bold;
	padding: 15px 10px;
}

.table-custom thead tr th{
	color: #a3a3a3;
	font-weight: bold;
	padding-bottom: 20px;
}

.ammount-box{
	border-radius: 5px;
    display: inline-block;
	font-size: 14px;
	margin-right: 10px;
	width: 30px;
    height: 30px;
    padding: 8px 10px 10px 8px;
    text-align: center;
    vertical-align: middle;
}

.search-dropdown{
	width: 300px !important;
}

.search-dropdown input{
	margin-left: 15px !important;
}

.kd-barang-field{
	font-size: 16px !important;
}

.nama-barang-field{
	color: #2196f3 !important;
}

.tersedia-span{
	color: #19d895;
	font-weight: bold;
	background-color: rgba(25, 216, 149, 0.2);
}

.tersedia-span:hover{
	color: #19d895;
}

.habis-span{
	color: #ff6258;
	font-weight: bold;
	background-color: rgba(255, 98, 88, 0.2);
}

.habis-span:hover{
	color: #ff6258;
}

.btn-update{
	background-color: #2d4fef;
	color: #fff;
	font-weight: bold;
}

.btn-update:hover{
	color: #fff;
}

.btn-scan{
	background-color: #2449f0;
	color: #fff;
}

.btn-scan:hover{
	background-color: #2449f0;
	color: #fff;
}

.btn-scan:hover{
	border: 0px solid #2449f0;
}

.btn-scan:not( :hover ){
	border: 0px solid #2449f0;
}

.btn-scan i{
	font-size: 16px;
}

.close-btn{
	background-color: #d7d7d7 !important;
	border-radius: 5px;
	margin-top: 0px !important;
	margin-right: 0px !important;
	padding: 0.2rem 0.7rem !important;
}

video{
	border-radius: 10px;
	width: 100%;
}

.drawingBuffer {
	position: absolute;
	top: 0;
	left: 0;
}

.form-border{
	background-color: #d1e6ff;
	border: 1px solid #2196f3;
	height: 35px;
	line-height: 35px;
	margin-top: 10px;
	text-align: center;
}

.form-border p{
	font-weight: bold;
}

.error-notice{
	margin-top: 5px !important;
	margin-bottom: -15px !important;
}

.error-notice label{
	color: #ff6258;
	font-size: 12px;
}

.stok-btn{
	background-color: #fff;
	border: 1px solid #c0c0c0;
	font-weight: bold;
}

.text-instruction{
	color: #2196f3;
	font-weight: bold;
}

label.error{
	color: #ff6258 !important;
    font-size: 12px !important;
    margin-bottom: 10px !important;
}

.custom-checkbox {
	width: 70px;
    height: 20px;
    margin-left: 46px;
    display: inline-block;
    position: absolute;
	margin-top: -4px;
	pointer-events: all;
}
.custom-checkbox input.switch-mode {
	display: none;
}
.custom-checkbox input.switch-mode + label {
	height: 100%;
	width: 100%;
	font-size: 10px;
}
.custom-checkbox input.switch-mode + label > .status-switch {
	cursor: pointer;
	width: 100%;
	height: 100%;
	position: relative;
	background-color: #9696a5;
	color: white;
	transition: all 0.5s ease;
	padding: 3px;
	border-radius: 3px;
}
.custom-checkbox input.switch-mode + label > .status-switch:before, .custom-checkbox input.switch-mode + label > .status-switch:after {
	border-radius: 2px;
	height: calc(100% - 6px);
	width: calc(50% - 3px);
	display: flex;
	align-items: center;
	position: absolute;
	justify-content: center;
	transition: all 0.3s ease;
}
.custom-checkbox input.switch-mode + label > .status-switch:before {
	background-color: white;
	color: black;
	left: 3px;
	z-index: 10;
	content: attr(data-unchecked);
}
.custom-checkbox input.switch-mode + label > .status-switch:after {
	right: 0;
	content: attr(data-checked);
}
.custom-checkbox input.switch-mode:checked + label > .status-switch {
	background-color: #2449f0;
}
.custom-checkbox input.switch-mode:checked + label > .status-switch:after {
	left: 0;
	content: attr(data-unchecked);
}
.custom-checkbox input.switch-mode:checked + label > .status-switch:before {
	color: #2449f0;
	left: 50%;
	content: attr(data-checked);
}
.container-gross {
	margin-left: 25%;
	width: 70%;
}

.container-varians {
	margin-left: 25%;
	width: 70%;
}

#label_grosir {
	pointer-events: none;
}

#label_varians {
	pointer-events: none;
}

.tambah_grosir {
	pointer-events: all;
}

.tambah_varians {
	pointer-events: all;
}

.gross {
	width: 98%;
}

.varians {
	width: 98%;
}


@media (max-width: 767px) {
	.container-gross {
		margin-left: 0;
		width: 92%;
	}
	.container-varians {
		margin-left: 0;
		width: 92%;
	}
	.paddmob10 {
		padding-left: 10px;
		padding-right: 10px;
	}
	.custom-checkbox {
		width: 60px;
		margin-left: 7px;
	}
}

.min-grosir.error, .harga-grosir.error, .nama-varian.error, .conv-varian.error, .hpp-varian.error, .sku-varian.error, .harga-varian.error {
	border: 1.5px solid red;
}

.gross {
	width: 100%;
}

.varians {
	width: 100%;
}

.uom-checkbox {
	margin-left: 0;
}

.tbl_uom th, .tbl_uom td {
	padding: 0;
}